In [1]:
%load_ext autoreload
%autoreload 2
# Packages that we are going to use in this project
import pandas as pd
import numpy as np
from datetime import datetime, timedelta


import sys 
import os

import matplotlib.pyplot as plt
import plotly.express as px

from statsmodels.tsa.seasonal import seasonal_decompose
from statsmodels.graphics.tsaplots import plot_acf

from scipy.fftpack import fft
from scipy.signal import blackman
from scipy.signal import periodogram

from sklearn.cluster import KMeans
import seaborn as sns; sns.set()
from sklearn.preprocessing import MinMaxScaler

from functions import *


module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path+"\\df")
from manage_file import FILES, getPath

pd.set_option('display.max_rows', None)

## STEP 1: Read & view of the data

In [2]:
# READ DATA INPUT : earth, moon or minable. Prefer use minable, 
# that contains earth and moon data, with clustering and interpolation already done
df = read_data(file="minable")
df = df[df.mag > 4.4]
df.head(10)

,index,time,year,month,day,latitude,longitude,mag,depth,Pais,...,cluster_label,acum_day,ill_frac,r/km,dec,ra/h,ra/Â°,ill_frac_interpolated,r/km_interpolated,dec_interpolated
0,90,1973-01-01 03:46:09,1973,1,1,-9.214,150.634,5.3,41.0,Papua New Guinea,...,2,1,11.754904,405944.3965,-24.015288,15.836820,237.552301,10.910562,405861.982414,-24.210285
1,91,1973-01-01 05:22:29,1973,1,1,-15.012,-173.958,5.0,33.0,Tonga,...,3,1,11.754904,405944.3965,-24.015288,15.836820,237.552301,10.550897,405826.876407,-24.293348
2,92,1973-01-01 09:28:57,1973,1,1,-22.161,-65.792,4.8,205.0,Argentina,...,6,1,11.754904,405944.3965,-24.015288,15.836820,237.552301,9.630703,405737.058477,-24.505863
3,93,1973-01-01 11:42:37,1973,1,1,-35.513,-16.211,6.0,33.0,No_Country,...,43,1,11.754904,405944.3965,-24.015288,15.836820,237.552301,9.131653,405688.347373,-24.621116
4,94,1973-01-02 00:53:20,1973,1,2,-9.854,117.427,5.5,66.0,Indonesia,...,12,2,6.378599,405419.6285,-25.256921,16.700503,250.507552,6.236433,405371.503848,-25.260419
5,95,1973-01-02 02:27:09,1973,1,2,1.035,126.211,5.4,61.0,Indonesia,...,45,2,6.378599,405419.6285,-25.256921,16.700503,250.507552,5.986355,405286.849578,-25.266571
6,96,1973-01-02 03:03:46,1973,1,2,18.923,-104.127,4.6,33.0,Mexico,...,59,2,6.378599,405419.6285,-25.256921,16.700503,250.507552,5.888750,405253.808996,-25.268973
7,97,1973-01-02 03:47:52,1973,1,2,5.404,-82.541,5.2,30.0,Panama,...,28,2,6.378599,405419.6285,-25.256921,16.700503,250.507552,5.771196,405214.015925,-25.271865
8,98,1973-01-02 13:51:56,1973,1,2,71.529,-5.754,4.5,33.0,Svalbard and Jan Ma,...,38,2,6.378599,405419.6285,-25.256921,16.700503,250.507552,4.160994,404668.944087,-25.311480
9,99,1973-01-02 16:25:36,1973,1,2,36.085,71.308,4.8,137.0,Afghanistan,...,4,2,6.378599,405419.6285,-25.256921,16.700503,250.507552,3.751380,404530.284934,-25.321558

## Filter dataframe

In [ ]:
# If you dont want to filter by magnitude, you can set it 0,10 or just erase the parameter, by default is (0,10)
df1 = filter_dataframe(df,var="ill_frac_interpolated", var_range = (0,20), mag_range=(7,10))

## STEP 2:  __Frequency for a period of time of earthquakes considering magnitude segmentation.__

For ex:
* period_length = 10 (every 10 years compare)
* mag_seg = {magnitude < 4 |  4<= magnitude < 5 | 5 < magnitude }

In [ ]:
######## you must want to change these piece of code ########
period_length = 10
#############################################################
df = period_calculation(df, period_length)# how many earthquakes for each period

In [3]:
######## you must want to change these piece of code ########
mag_seg = {0: [4.5,4.8], 1: [4.8,5.1], 2: [5.1,5.4], 3:[5.4,5.7], 4:[5.7,6], 5:[6,6.6], 6:[6.6,7.5], 7:[7.5,10] }
dec_seg = {0: [-29,-18], 1: [-18,-9], 2: [-9,0], 3:[0,9], 4:[9,18], 5:[18,29]}
depth_seg = {0: [0,20], 1: [20,40], 2: [40,100], 3:[100,200], 4:[200,400], 5:[400,800]}
latitude_seg = {0: [-80,-50], 1: [-50,-28], 2: [-28,-18], 3:[-18,0], 4:[0,18], 5:[18,28], 6:[28,50], 7:[50,80] }
longitude_seg = {0: [-180,-135], 1: [-135,-90], 2: [-90,-45], 3:[-45,0], 4:[0,45], 5:[45,90], 6:[90,135], 7:[135,180] }
ill_frac_seg = {0: [0,20], 1: [20,40], 2: [40,60], 3:[60,80], 4:[80,100]}
rah_seg = {0: [0,3], 1: [3,6], 2: [6,9], 3:[9,12], 4:[12,15], 5:[15,18], 6:[18,21], 7:[21,24] }
rkm_seg = {0: [350000,360000], 1: [360000,370000], 2: [370000,380000], 3:[380000,390000], 4:[390000,400000], 5:[400000,410000]}
#############################################################
df = variable_segmentation(df, var_seg=rkm_seg, var = "r/km")

SyntaxError: cannot assign to operator (Temp/ipykernel_18176/527012403.py, line 4)

## Histograms Plots

In [ ]:
# Histogram plot to see the count of earthquakes of each mag_seg for all the periods
fig = px.histogram(df, x="MAG_SEG", color='PERIOD', barmode='group', height=400)
fig.show()

In [ ]:
# Plot of number of earthquakes for each period of time.
fig = px.histogram(df, x="PERIOD",color='PERIOD', barmode='group',height=400)
fig.show()

In [ ]:
# Histogram groupby monthly
histogram_monthly(df, date_off_set=False, bool_mag_seg=False)

In [ ]:
plot_monthly(df,years=(1973,1978))

## Increasing by country

In [ ]:
# Count amount of earthquakes of each country
countries_value_counts(df)

In [ ]:
######## you must want to change these piece of code ########
countries = ["Indonesia", "Japan", "Chile", "No_Country"]
#############################################################
histogram_countries(df, countries)

### Plot map "No_country"

In [ ]:
df1 = df[df.Pais == "No_Country"]
plot_map(df1, clusters=True)
# punto de extraccion de la data de la luna.

### Trendline for magnitude segments

In [ ]:
trendline_calculations(df)

### Clustering

In [ ]:
#df = calculate_clustering(df, normalized=False)
df.cluster_label.value_counts()

In [ ]:
plot_map(df, clusters=True)

In [ ]:
series_trend, negative_trend = trendline_calculations(df,cluster=True)

In [ ]:
# Plot map on negative trendline cluster
######## you must want to change these piece of code ########
clusters_toplot = list(negative_trend.keys()) # [48,8,46,18] for example
#clusters_toplot = [3,14]
#############################################################
plot_map(df, clusters=True, specific_clusters=clusters_toplot)

In [ ]:
plot_map_animation(df, specific_clusters=[5,47], animation_frame="year")

In [ ]:
specific_cluster_info(df, 0)

In [ ]:
# histogram by specific clusters
clusters = [47,43,16]
histogram_cluster(df,clusters)

In [ ]:
histogram_overtime(df, var="ill_frac_interpolated", specific_cluster=[47,43], animation_frame="year")
#animation_frame="MAG_SEG", "PERIOD", "YEAR"... any column name of categories

## Moon correlation

### Calculate distribution of r/km and ill_frac of the moon interpolated in earthquakes

In [ ]:
"""
Parameters:
        df (pandas.DataFrame): A pandas DataFrame object.
        columns (list): list of columns.
        step_quantile (float): The step between each quantile to compute. Default is 0.25.
        clusters (list): list of clusters of interest. [] by default.
"""


describe_columns(df, ["r/km_interpolated", "ill_frac_interpolated", "dec_interpolated"],
                 step_quantile=0.01, clusters=[]) #clusters= list(negative_trend.keys())

In [ ]:
calculo_distribution(df,var = "ill_frac_interpolated", num_bins=10, specific_cluster=None)

In [ ]:
distribution_plot(df, var="ill_frac_interpolated", specific_cluster=None)

In [ ]:
plot_calculo_distribution(df, var="ill_frac_interpolated", histnorm="percent", num_bins=10, specific_cluster=None)

In [ ]:
histogram_animation(df, var="depth", histnorm="percent",animation_frame="year", nbins=300, 
                   range_x=None, range_y=[0,60] )

# nbins if you want by default write None.
# range_x and range_y by default None, and will be like it was before, if you want to change set a list with two numbers
#animation_frame="MAG_SEG", "PERIOD", "YEAR"... any column name of categories

In [3]:

#count_number_days(var="ill_frac", range_var=[0,10])
df_moon = read_data(file="moon")

In [ ]:
# Distribution KDE plot for a varaible for earthquake data and moon data.
df_moon = read_data(file="moon")
distribution_plot(df, df_moon, var="r/km")

In [ ]:
# date_filt is in the order "YYYY-mm-dd"
df2 = filter_by_date(df, date_filt="2020-05-03", nweeks=5)

In [ ]:
plot_map_animation(df2,animation_frame="week")

In [4]:
df_moon.tail()

,year,day,month,acum_day,ill_frac,r/km,dec,ra/h,ra/Â°
19354,2025,28,12,362,52.324076,375350.607760,5.749487,0.489958,7.349376
19355,2025,29,12,363,63.383411,370753.975365,12.047014,1.328877,19.933150
19356,2025,30,12,364,74.029349,366578.502458,17.888541,2.228649,33.429742
19357,2025,31,12,365,83.595220,363207.959690,22.836907,3.205588,48.083817
19358,2025,1,13,366,91.405217,361028.171277,26.402270,4.262234,63.933517

20075